<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Foundation.SitecoreExtensions.ArticleIndexName" value="sitecore_article_web_index" />
      <setting name="Sitecore.Foundation.SitecoreExtensions.ArticleTemplateId" value="{42CE662C-173F-4597-A3FB-5DE1C9E724C8}" />
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Foundation.SitecoreExtensions.Extensions.BucketItemResolver, Sitecore.Foundation.SitecoreExtensions"

                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>